<!DOCTYPE html>
<html lang="en">

<head>
  <title>React Boilerplate</title>
  <meta charset="UTF-8">
<link href="styles.css" rel="stylesheet"></head>

<body>

  {% block content %}
    <div id="root"></div>
  {% endblock %}
<script type="text/javascript" src="app.bundle.js"></script></body>

</html>