@import '../modules/variables.scss';
@import '../modules/table_gradient.scss';

.heroTable {
  max-width: 1168px;
  border-radius: 1.5em 1.5em 0 0;
  :first-child {
    th:first-child {
      border-radius: 1.5rem 0 0 0;
    }
    th:last-child {
      border-radius: 0 1.5rem 0 0;
    }
    th {
      border-bottom: none;
      color: $tableFontColor;
      font-size: 2rem;
      height: 62px;
      padding-bottom: 14px;
      text-align: center;
      @include tableGradient($gradient1, $gradient2);
    }
  }
}
