@import '../modules/variables.scss';
@import '../modules/table_gradient.scss';

.heroTable {
  max-width: 1168px;
  border-radius: 1.5em 1.5em 0 0;
  :first-child {
    th:first-child {
      border-radius: 1.5rem 0 0 0;
    }
    th:last-child {
      border-radius: 0 1.5rem 0 0;
    }
    th {
      border-bottom: none;
      color: $tableFontColor;
      font-size: 2rem;
      height: 62px;
      padding-bottom: 14px;
      text-align: center;
      @include tableGradient($gradient1, $gradient2);
    }
  }
}

.heroTable {


}

$default_spacing: 10px;

@function double($val) {
  @return $val * 2;
}

@function getCDNAsset($asset) {
  @return "https://cdn.aws.s3/my_org/my_bucket_name/"+$asset;
}

.heroTable-header {
  margin: double($default_spacing);
  background-image: url(getCDNAsset('my_image.png'));

}

.submit-button {
  background-color: dodgerblue;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 14px;
}

.submit-button-padded {
  @extend .submit-button;
  padding: 18px;

}





// <button class="submit-button submit-button-padded">Submit</button>
//
//
// <table class="heroTable">
//   <thead class="heroTable-head">
//     <tr class="heroTable-head-row">
//       <th class="heroTable-header">Some Content</th>
//
//     </tr>
//   </thead>
//   <tbody class="heroTable-body">
//     <
//   </tbody>
//
// </table>
