@import '../modules/variables.scss';

.heroPage {
  color: $text-color;
  margin-top: 9rem;
}

.heroSidebar {
  width: 20.2rem;
  height: 100%;
  background-color: #383838;
  position: fixed;
}

.heroSidebar-profile {
  width: 20.2rem;
  height: 27.4rem;
}

.heroSidebar-profile-icon {
  height: 5.6rem;
  text-align: right;
  padding-top: 2.1rem;
  padding-right: 1.7rem;
}

.heroSidebar-profile-char {
  margin-top: 2.5rem;
  width: 20.2rem;
  height: 21.8rem;
  text-align: center;
}

.heroSidebar-profile-char-h1 {
  font-size: 1.3rem;
  line-height: .3rem;
}

.heroSidebar-profile-img {
  width: 8.8rem;
  height: 8.8rem;
  border: 3px solid #383838;
  border-radius: 3px;
  box-shadow: inset #7d898f 0 1px 6px, #bababa 0 0 0 2px;
}

.heroSidebar-ul {
  list-style: none;
  font-size: 1.5rem;
  background-color: #4c4c4c;
  padding: 0;
}

.heroSidebar-li {
  display: block;
  font-size: 1.2rem;
  padding: 1rem 2.292rem;
  &:hover {
    background-color: #747474;
  }
}