/*Globals*/
$text-color: #ffffff;

/*Table Component*/
$heroBorder-color: #161616;
$table-background: #5c5c5c;

/*SearchBar Component*/
$input-textColor: #333333;
$input-backgroundColor: #dedede;
$input-size: 49.9rem;

/*Demo Component*/
$nav-background: #383838;