body {
    background-color: #242424;
}
div {
    margin: 0 70px;
    margin-top: 45px;
}

button {
    // classes for button
}

section {
    // classes for section
}

.invoice {
    // classes for invoice
}

